flow_node_red/1_flows_NodeRed_Montee_REST.json
[
    {
        "id": "23d43d3933ddb5f0",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "958d2a57292e5140",
        "type": "http response",
        "z": "23d43d3933ddb5f0",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 400,
        "y": 460,
        "wires": []
    },
    {
        "id": "2e727b3dd16ac708",
        "type": "http in",
        "z": "23d43d3933ddb5f0",
        "name": "",
        "url": "/donnees",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "958d2a57292e5140",
                "366b528fef1e98f3",
                "ccb34d4614481661"
            ]
        ]
    },
    {
        "id": "ccb34d4614481661",
        "type": "function",
        "z": "23d43d3933ddb5f0",
        "name": "function 2",
        "func": "//var temperature = msg.payload.temperature;\n//var humidite = msg.payload.humidity;\n\n// Creation de variable global pour meilleur lisibilite\nvar temperature_msg_up = { payload: msg.payload.temperature };\nvar humidite_msg_down = { payload: msg.payload.humidity };\n\nreturn [temperature_msg_up, humidite_msg_down];  ",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "6ecf59a1ae0f0628",
                "a45630f05b57b36f",
                "3b3c5768e1ed6358"
            ],
            [
                "2d4a68a5b624ef93",
                "f251b586d386e1f1",
                "7e78243658290a85"
            ]
        ]
    },
    {
        "id": "366b528fef1e98f3",
        "type": "debug",
        "z": "23d43d3933ddb5f0",
        "name": "debug 1 - Couple",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 260,
        "wires": []
    },
    {
        "id": "6ecf59a1ae0f0628",
        "type": "debug",
        "z": "23d43d3933ddb5f0",
        "name": "debug 2 - MSG scinde Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "2d4a68a5b624ef93",
        "type": "debug",
        "z": "23d43d3933ddb5f0",
        "name": "debug 3 - MSG scinde Humidite",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 460,
        "wires": []
    },
    {
        "id": "a45630f05b57b36f",
        "type": "ui_gauge",
        "z": "23d43d3933ddb5f0",
        "name": "",
        "group": "8c105dd344b40cb0",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Ambiente",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#0006b3",
            "#e6bf00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "8cf94a78b3158e75",
        "type": "comment",
        "z": "23d43d3933ddb5f0",
        "name": "Temperature",
        "info": "",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "ae3b7d5fce040e74",
        "type": "comment",
        "z": "23d43d3933ddb5f0",
        "name": "Humidite",
        "info": "",
        "x": 780,
        "y": 420,
        "wires": []
    },
    {
        "id": "f251b586d386e1f1",
        "type": "ui_gauge",
        "z": "23d43d3933ddb5f0",
        "name": "",
        "group": "949e798f17c86d49",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Taux Humidite Ambiant",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b3ad00",
            "#00bfe6",
            "#3a57cb"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 500,
        "wires": []
    },
    {
        "id": "3b3c5768e1ed6358",
        "type": "ui_chart",
        "z": "23d43d3933ddb5f0",
        "name": "",
        "group": "8c105dd344b40cb0",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Releve de Temperature des 10 dernières minutes",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#c5190d",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#eb2d2d",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7e78243658290a85",
        "type": "ui_chart",
        "z": "23d43d3933ddb5f0",
        "name": "",
        "group": "949e798f17c86d49",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Releve du taux d'humidite de la derniere minute",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1fefec",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8c105dd344b40cb0",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "f93ec406d568da2f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "949e798f17c86d49",
        "type": "ui_group",
        "name": "Humidite",
        "tab": "f93ec406d568da2f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f93ec406d568da2f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]